@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background {
  background-image: url("./assets/images/login-background.svg"); /* Replace with your image path */
  background-size: cover; /* Adjust background size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent background repeat */
}
.fade-in {
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards; /* Smooth fade-in over 2 seconds */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
